<nav>
	<ul>
	 <li><%=link_to "Home",root_path%></li>
	 <li><%=link_to "About" , about_path%></li>
	 <li><%=link_to "Add New Movie",new_movie_path%></li>
	 <li><%=link_to "Add New Actor",new_actor_path%></li>
	 <li><%=link_to "Actors List" ,actors_path%></li>
	</ul>
</nav>